<%- include('header') -%>

<header>
   <img class='header_img' src='header.jpg'>
   <h1 class='header_title'><%= title %></h1>
</header>
<main class='main'>
   <div class='article'>
      <p>síða fannst ekki</p>
   </div>
</main>

<%- include('footer') -%>
