<%- include('header') -%>


<main class='main'>
  <div class='articles'>
    <% greinaSafn.forEach((grein) => {%>
      <div class='article'>
        <a href= <%= grein.meta.slug%>
        <p> <%= grein.meta.slug %></p>

        </div>
      </div>
      <%})%>
  </div>
</main>

<%- include('footer') -%>
