* {
  margin: 0;
  padding: 0;


}

.header_title {
  font-family: 'Roboto', sans-serif;

}

header {
  width: 100%;
  overflow: hidden;
  margin-top: -150px;
  margin-bottom: 250px;
  border-bottom: -250px;

}



.image_notFound {

}

.article_img {
}

.article {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
}


title {
  margin-top: -100px;
  display: flex;
  justify-content: center;
}
main {
  font-family: 'Lora', serif;
  max-width: 1200px;


}

html {
  box-sizing: border-box;

  font-color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}
